<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.quizappportia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="SPLASH SCREEN"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="QUIZ APP"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Topics"
            android:label="CATEGORIES"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SECONDACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Entertainment"
            android:label="ENTERTAINMENT"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Topics">
            <intent-filter>
                <action android:name="android.intent.action.THIRDACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sports"
            android:label="SPORTS"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Topics">
            <intent-filter>
                <action android:name="android.intent.action.FOURTHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:label="HISTORY"
            android:theme="@style/AppTheme"
            android:parentActivityName=".Topics">
            <intent-filter>
                <action android:name="android.intent.action.FIFTHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Score"
            android:label="SCORE"
            android:parentActivityName=".Topics"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>